@mixin project-ui-badges
{
	.badge {
		&.badge-success {
			background-color:#5cb85c !important;
		}
		&.badge-info {
			background-color:#5bc0de !important;
		}
		&.badge-warning {
			background-color:#f0ad4e !important;
		}
		&.badge-danger {
			background-color:#d9534f !important;
		}
		&.badge-primary {
			background-color:#428bca !important;
		}
	}	
	
	
}