.DS_Store
*/.DS_Store
*.scssc
*/*.scssc
*.pyc
*/*.pyc
/website_project_weezer/sftp-config.json

/HTML/

/website_project_weezer/static/src/node_modules/

/website_project_weezer/static/src/npm-debug.log
