
// full path from root to PIE.htc
$project-pie-behavior: url("/css/pie/PIE.htc") !default;

$light			: #E5E5E5;
$gray_light		: #CCC;
$gray_medium	: #777;
$gray_dark		: #666;
$gray_darker	: #333;

$light_blue		: darken(#d9edf7, 8%);//#c8e5f3;