@mixin project-helpers-margin
{
	.mr25 {
		margin-right:25px;
	}
	.no-margin-top
	{
		margin-top: 0px !important;
	}

	.no-margin-right
	{
		margin-right: 0px !important;
	}

	.no-margin-bottom
	{
		margin-bottom: 0px !important;
	}

	.no-margin-left
	{
		margin-left: 0px !important;
	}

	.margin-top-10
	{
		margin-top: 10px;
	}

	.margin-right-10
	{
		margin-right: 10px;
	}

	.margin-bottom-10
	{
		margin-bottom: 10px;
	}

	.margin-left-10
	{
		margin-left: 10px;
	}

	.margin-top-15
	{
		margin-top: 15px;
	}

	.margin-right-15
	{
		margin-right: 15px;
	}

	.margin-bottom-15
	{
		margin-bottom: 15px;
	}

	.margin-left-15
	{
		margin-left: 15px;
	}
	.mr40
	{
		margin-right: 40px;
	}
	.ml8
	{
		margin-left: 8px;
	}
}